@inherits LayoutComponentBase

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />

<div class="page">
    <header class="app-header">
        <h1>Workit Employee</h1>
    </header>

    <main class="app-main">
        @Body
    </main>

    <NavMenu />
</div>
