<nav class="bottom-nav">
    <NavLink class="bottom-nav-link" href="" Match="NavLinkMatch.All">
        <span class="bottom-nav-icon" aria-hidden="true">
            <FluentIcon Value="new Size24.Home()" />
        </span>
        <span>Home</span>
    </NavLink>
    <NavLink class="bottom-nav-link" href="hours">
        <span class="bottom-nav-icon" aria-hidden="true">
            <FluentIcon Value="new Size24.Clock()" />
        </span>
        <span>Hours</span>
    </NavLink>
</nav>
