<nav class="bottom-nav">
    <NavLink class="bottom-nav-link" href="" Match="NavLinkMatch.All">
        <span class="bottom-nav-icon" aria-hidden="true">
            <FluentIcon Value="new Size24.Clock()" />
        </span>
        <span>Hours</span>
    </NavLink>
    <NavLink class="bottom-nav-link" href="dashboard">
        <span class="bottom-nav-icon" aria-hidden="true">
            <FluentIcon Value="new Size24.Grid()" />
        </span>
        <span>Dashboard</span>
    </NavLink>
    <NavLink class="bottom-nav-link" href="absence">
        <span class="bottom-nav-icon" aria-hidden="true">
            <FluentIcon Value="new Size24.CalendarCancel()" />
        </span>
        <span>Absence</span>
    </NavLink>
    <NavLink class="bottom-nav-link" href="tools">
        <span class="bottom-nav-icon" aria-hidden="true">
            <FluentIcon Value="new Size24.Wrench()" />
        </span>
        <span>Tools</span>
    </NavLink>
    <NavLink class="bottom-nav-link" href="materials">
        <span class="bottom-nav-icon" aria-hidden="true">
            <FluentIcon Value="new Size24.Box()" />
        </span>
        <span>Materials</span>
    </NavLink>
    <NavLink class="bottom-nav-link" href="settings">
        <span class="bottom-nav-icon" aria-hidden="true">
            <FluentIcon Value="new Size24.Settings()" />
        </span>
        <span>Settings</span>
    </NavLink>
</nav>
